 @import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;
    background: #fcfcfc;
}


.dark-bg {
	background: rgba(132,133,143,0.6) !important;
}

.post {
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}