 @import url(http://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
    background: #fcfcfc;
}


.dark-bg {
	background: #4F5160 !important;
}

.post {
	margin-bottom: 10px;
	border: 1px solid #e8e8e8;
}

.top-nav .header .logo {
	letter-spacing: 1px !important;
}

@media screen and (min-width: 600px)
.posts-list .post-thumbnail {
    margin-right: 0px;
}

@media screen and (min-width: 600px)
.posts-list .post-info {
    margin-left: 15px;
}